<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>New Menu Item</h1>
        <div class="pane">
            <form action="{{url_for('newMenuItem', restaurant_id=restaurant_id)}}" method="POST">
                <dl>
                    <dt>Name:</dt>
                    <dd><input type="text" size="30" name="name" placeholder="Menu item name here"></dd>
                    <dt>Course:</dt>
                    <dd><input type="radio" name="course" value="Appetizer" checked>Appetizer</dd>
                    <dd><input type="radio" name="course" value="Entree">Entree</dd>
                    <dd><input type="radio" name="course" value="Dessert">Dessert</dd>
                    <dd><input type="radio" name="course" value="Beverage">Beverage</dd>
                    <dt>Description:</dt>
                    <dd><textarea name="description" placeholder="Your menu item description here"></textarea></dd>
                    <dt>Price:</dt>
                    <dd><input type="text" size="30" name="price"></dd>
                </dl>
                <input type="submit" value="Create">
            </form>
            <a href="{{url_for('showMenu',restaurant_id=restaurant_id)}}">Cancel</a>
        </div>
    </body>
</html>